@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #0f4c75;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    height: 100vh;
}

#btn {
    color: white;
    background-color: #3282b8;
    padding: 10px;
    border-radius: 1em;
    border: solid white 1px;
    margin-top: 0.7em;
  }
  #btn:hover {
    transform: scale(1.05);
    transition-duration: 0.3s;
  }

  #btn:focus {
      outline: none;
  }

  img {
      border-radius: 10px;
      opacity: 0.9;
      border: solid white 1px;
  }

  .heading {
      color: white;
      margin: 0.7em 0px;
  }

  p {
      color: white;
      border: solid white 1px;
      border-radius: 10px;
      padding: 1em;
      width: 400px;
      text-align: center;
      background-color: #1b262c;
      margin-bottom: 0.7em;
  }